<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File View</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">QuickDrop</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/file/list">View Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/file/upload">Upload File</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="text-center mb-4">File View</h1>
<div class="card p-4">
    <h3>File Name</h3>
    <p th:text="${file.name}"></p>

    <h3>File description</h3>
    <p th:text="${file.description}"></p>

    <h3>Uploaded/Renewed At</h3>
    <p th:text="${file.uploadDate}"></p>
    <p>Files are kept only for 30 days after this date.</p>

    <h3>Keep Indefinitely</h3>
    <p th:text="${file.keepIndefinitely} ? 'Yes' : 'No'"></p>

    <h3>File Size</h3>
    <p th:text="${fileSize}"></p>

    <h3>Renew file lifetime</h3>
    <form method="post" th:action="@{/file/extend/{id}(id=${file.id})}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button class="btn btn-primary" type="submit">Extend</button>
    </form>

    <h3>Link</h3>
    <p th:text="${downloadLink}"></p>

    <h3>Download</h3>
    <p>
        <a class="btn btn-success" th:href="@{/file/download/{id}(id=${file.id})}">Download</a>
    </p>
</div>
</body>
</html>
