<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All files</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">QuickDrop</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/file/list">View Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/file/upload">Upload File</a>
            </li>
        </ul>
    </div>
</nav>

<body class="container mt-5">
<h1 class="text-center mb-4">All Files</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>File Name</th>
        <th>Description</th>
        <th>Uploaded At</th>
        <th>Keep Indefinitely</th>
        <th>Password Protected</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.name}"></td>
        <td th:text="${file.description}"></td>
        <td th:text="${file.uploadDate}"></td>
        <td th:text="${file.keepIndefinitely} ? 'Yes' : 'No'"></td>
        <td th:text="${file.passwordHash != null} ? 'Yes' : 'No'"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/file/{UUID}(UUID=${file.uuid})}">Go to file page</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
