<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">QuickDrop</a>
    <button
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNav"
            data-toggle="collapse"
            type="button"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/file/list">View Files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/file/upload">Upload File</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container">
    <h1 class="text-center mb-4">Upload a File</h1>
    <p class="text-center mb-2">Max file size 1GB</p>
    <p class="text-center mb-4">
        Files are deleted after 30 days if the option for indefinite upload is not selected
    </p>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <form
                    class="card p-4"
                    enctype="multipart/form-data"
                    id="uploadForm"
                    method="post"
                    th:action="@{/file/upload}"
            >
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <div class="form-group">
                    <label for="file">Select a file:</label>
                    <input
                            class="form-control"
                            id="file"
                            name="file"
                            required
                            type="file"
                    />
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input
                            class="form-control"
                            id="description"
                            name="description"
                            type="text"
                    />
                </div>
                <div class="form-group form-check">
                    <input
                            class="form-check-input"
                            id="keepIndefinitely"
                            name="keepIndefinitely"
                            type="checkbox"
                    />
                    <label class="form-check-label" for="keepIndefinitely">
                        Keep indefinitely
                    </label>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input
                            class="form-control"
                            id="password"
                            name="password"
                            type="password"
                    />
                </div>
                <button class="btn btn-primary btn-block" type="submit">Upload</button>
            </form>
        </div>
    </div>
    <div
            class="mt-3 text-info text-center"
            id="uploadIndicator"
            style="display: none;"
    >
        Upload started...
    </div>
</div>
<script src="/js/upload.js"></script>
</body>
</html>
